<div class="example-container">
    <mat-card >
     <h2 id="title">MeteoApp</h2>
    </mat-card>
    <mat-card id ="login">
        <mat-card-content>
          <mat-form-field>
            <input matInput placeholder="Username" type="text" class="example-right-align" [(ngModel)]="username">
          </mat-form-field><br/>
          <mat-form-field>
            <input matInput placeholder="Password" type="password" [(ngModel)]="password">
          </mat-form-field><br/>
          <button mat-button (click)="loginUser(username, password)" >Login</button><br/>
          
          <button mat-button [routerLink]="['/signup']" >Signup</button>
    </mat-card-content>
  </mat-card>
</div>