<mat-card>
   <mat-list>
      <mat-list-item>
        <mat-icon mat-list-icon><img src="assets/img/img.jpg"></mat-icon>
        <p> {{summary}}</p>
      </mat-list-item>
      <mat-list-item>
          <h4>Wind speed</h4>
          <p> {{windspeed}}</p>
        </mat-list-item>
        <mat-list-item>
            <h4>Hummidity</h4>
            <p> {{hummidity }}</p>
          </mat-list-item>
          <div id ="keep">
        <mat-list-item>
            <div class="example-button-row">
                <button mat-raised-button color="primary" (click)="savedata(summary, windspeed,hummidity,time,location)">Keep data</button>
              </div>
            
        </mat-list-item>
      </div>
   </mat-list>
</mat-card>
