.mat-card{
    width: 1384px;
    margin-top: 70px;
    height: 201px;
    margin-left: 210px;
}
.example-form-field {
    width: 400px;
    margin-left: 300px;
  }
.mat-form-field.ng-tns-c3-1.mat-primary.mat-form-field-type-mat-input.mat-form-field-appearance-legacy.mat-form-field-can-float.mat-form-field-hide-placeholder.ng-star-inserted {
    padding-left: 370px;
}
.example-button-row button,
.example-button-row a {
  margin-right: 8px;
  margin-left: 430px;
}
p{
    margin-left: 81px;
}
#keep {
    margin-left: 564px;
    margin-top: -87px;
}